.testimonials--mobile {
  .testimonial {
    flex-direction: column;
  }
}

.testimonials--desktop {
  .testimonial {
    flex-direction: row;
  }
}

.testimonial {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.testimonial__image {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
}
