.contact--mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  hr {
    width: 30%;
  }

  .contact__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    input,
    textarea {
      background-color: lightgray;
    }

    textarea {
      width: 100%;
      margin: 10px 0;
    }
  }

  .inputs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    input {
      width: 45%;
    }
  }

  @media only screen and (min-device-width: 960px) {
    display: none;
  }
}

.contact--desktop {
  display: none;
  @media only screen and (min-device-width: 960px) {
    display: block;
  }
}

.contact__contact-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 50%;

    &:nth-child(2) {
      margin: 0 10px;
    }
  }
}
