.hero--phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: #1e1b2d;

  @media only screen and (min-device-width: 668px) {
    display: none;
  }

  .hero__title {
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-weight: bold;
    margin-top: 20px;
  }

  .hero__subtitle {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    text-align: center;
    margin: 20px 0;
  }

  .hero__image {
    width: 80%;
  }

  .hero__button {
    width: 145px;
    height: 54px;
    border-radius: 4px;
    background-color: #e95b57;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    border: none;
    margin: 20px 0;
  }
}

.hero--tablet-and-desktop {
  display: none;
  background-color: #1e1b2d;

  @media only screen and (min-device-width: 668px) {
    display: block;
  }

  .container {
    width: 100%;
    @media only screen and (min-device-width: 960px) {
      width: 960px;
      margin: 40px auto;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .hero__col {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    &:last-child {
      align-items: flex-end;
    }

    .hero__title {
      font-size: 36px;
      color: rgb(255, 255, 255);
      font-family: "Open Sans";
      font-weight: bold;
    }

    .hero__subtitle {
      font-size: 24px;
      color: rgb(255, 255, 255);
      font-family: "Open Sans";
      margin: 20px 0;
    }

    .hero__button {
      width: 145px;
      height: 54px;
      border: none;
      border-radius: 4px;
      background-color: #e95b57;
      font-size: 18px;
      color: rgb(255, 255, 255);
      font-family: "Open Sans";
    }

    .hero__image {
      width: 90%;
    }
  }
}
