.nav--phone {
  display: block;
  background-color: #161218;

  @media only screen and (min-device-width: 668px) {
    display: none;
  }

  .nav__nav-items {
    display: none;
    width: 100%;
  }

  .nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }

  .nav__hamburger {
    background: none;
    outline: none;
    border: none;

    i {
      color: white;
      font-size: 20px;
    }
  }

  .nav__nav-items {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  .nav-item {
    margin: 5px 0;
    &:first-child {
      margin-top: 20px;
    }
    a {
      font-size: 20px;
      color: rgb(255, 255, 255);
      font-family: "Open Sans";
      text-decoration: none;
    }
  }
}

.nav--tablet {
  display: none;

  @media only screen and (min-device-width: 668px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (min-device-width: 960px) {
    display: none;
  }

  .nav__links-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .nav__nav-link {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav--desktop {
  display: none;

  @media only screen and (min-device-width: 960px) {
    display: block;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .nav__links-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .nav__nav-link {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
