.portfolio--phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  hr {
    width: 30%;
  }

  .projects__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (min-device-width: 668px) {
    display: none;
  }

  .portfolio__title,
  .portfolio__subtitle {
    color: rgb(50, 50, 50);
  }

  .portfolio__title {
    margin-top: 20px;
  }

  .portfolio__subtitle {
    margin: 10px 0;
  }

  .portfolio__selectors-wrapper {
    margin-top: 50px;
    color: lightgray;

    a {
      font-size: 18px;
      font-family: "Open Sans";
      text-align: center;
      text-decoration: none;
      color: lightgray;

      &.active {
        color: rgb(50, 50, 50);
      }
    }
  }

  span:last-of-type {
    font-size: 18px;
    color: rgb(50, 50, 50);
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
  }

  .portfolio__link {
    font-size: 50px;
    color: rgb(50, 50, 50);
  }
}

.portfolio--tablet {
  display: none;

  @media only screen and (min-device-width: 668px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (min-device-width: 960px) {
    display: none;
  }

  hr {
    width: 30%;
  }

  .projects__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.portfolio--desktop {
  display: none;
  @media only screen and (min-device-width: 960px) {
    display: block;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 30%;
  }

  .projects__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}
