.services--phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: #475985;

  @media only screen and (min-device-width: 668px) {
    display: none;
  }

  .services__title {
    margin-top: 20px;
  }

  .services__subtitle {
    margin: 10px 0;
  }
}

.services--tablet {
  display: none;
  background-color: #475985;
  padding: 50px 30px;

  @media only screen and (min-device-width: 668px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (min-device-width: 960px) {
    display: none;
  }

  hr {
    width: 30%;
  }

  .services__subtitle {
    margin: 10px 0;
  }

  .services__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: flex-end;
      width: 100%;
    }
  }
}

.services--desktop {
  display: none;
  @media only screen and (min-device-width: 960px) {
    display: block;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 30%;
  }

  .services__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
