.testimonials--mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  hr {
    width: 30%;
  }

  @media only screen and (min-device-width: 960px) {
    display: none;
  }
}

.testimonials--desktop {
  display: none;
  @media only screen and (min-device-width: 960px) {
    display: block;
  }
}
