html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
label,
legend,
p,
blockquote,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

abbr,
acronym {
  border: 0; }

* {
  box-sizing: border-box; }

.container {
  width: 100%; }
  @media only screen and (min-device-width: 668px) {
    .container {
      padding: 0 20px; } }
  @media only screen and (min-device-width: 960px) {
    .container {
      padding: 0;
      width: 960px;
      margin: 0 auto; } }

section {
  width: 100%;
  padding: 10px; }

.section-wrapper {
  width: 100%; }

.section-title {
  font-size: 30px;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center; }

.section-subtitle {
  font-size: 18px;
  color: white;
  font-family: "Open Sans";
  text-align: center; }

@font-face {
  font-family: "Open Sans";
  font-weight: initial;
  font-style: initial;
  src: url(./fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: initial;
  src: url(./fonts/OpenSans-Bold.ttf); }

@font-face {
  font-family: "Open Sans";
  font-weight: initial;
  font-style: italic;
  src: url(./fonts/OpenSans-Italic.ttf); }

@font-face {
  font-family: "Open Sans Bold";
  font-weight: bold;
  font-style: italic;
  src: url(./fonts/OpenSans-BoldItalic.ttf); }

.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("./images/banner/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 20px; }
  .banner .banner__title {
    font-size: 32px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; }
  .banner .banner__subtitle {
    font-size: 24px;
    color: white;
    font-family: "Open Sans";
    text-align: center; }

.project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
  width: 80%;
  padding: 40px 20px;
  background-color: #475985; }
  .project .project__title {
    font-size: 24px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center; }
  .project .project__description {
    font-size: 14px;
    color: white;
    font-family: "Open Sans";
    text-align: center;
    margin: 20px 0; }
  .project .project__icon {
    color: white;
    font-size: 30px; }

.service {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }
  .service .service__title {
    font-size: 18px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 10px 0; }
  .service .service__description {
    width: 221px;
    font-size: 14px;
    color: white;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 5px; }
  .service .service__button {
    width: 88px;
    height: 33px;
    border-radius: 2px;
    background-color: #e95b57;
    font-size: 12px;
    color: white;
    font-family: "Open Sans";
    border: none;
    margin: 10px 0; }

.testimonials--mobile .testimonial {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px 0; }

.testimonials--mobile .testimonial__image {
  width: 120px;
  height: 120px;
  background-color: lightgray;
  border-radius: 50%;
  border: 5px solid #eaeaea; }

.testimonials--mobile .testimonial__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }

.testimonials--mobile .quotation {
  font-size: 18px;
  color: #323232;
  font-family: "Open Sans";
  font-style: italic;
  margin: 20px 0; }

.testimonials--mobile .author {
  font-size: 24px;
  color: #323232;
  font-family: "Open Sans";
  font-weight: bold;
  align-self: flex-end; }

.testimonials--desktop .testimonial {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0; }

.testimonials--desktop .testimonial__image {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%; }

.nav--phone {
  display: block;
  background-color: #161218;
  padding: 20px; }
  @media only screen and (min-device-width: 668px) {
    .nav--phone {
      display: none; } }
  .nav--phone .nav__nav-items {
    display: none;
    width: 100%; }
  .nav--phone .nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .nav--phone .nav__logo {
    font-size: 20px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold; }
    .nav--phone .nav__logo span {
      font-weight: initial; }
  .nav--phone .nav__hamburger {
    background: none;
    outline: none;
    border: none; }
    .nav--phone .nav__hamburger i {
      color: white;
      font-size: 20px; }
  .nav--phone .nav__nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center; }
  .nav--phone .nav-item {
    margin: 5px 0; }
    .nav--phone .nav-item:first-child {
      margin-top: 20px; }
    .nav--phone .nav-item a {
      font-size: 20px;
      color: white;
      font-family: "Open Sans";
      text-decoration: none; }

.nav--tablet {
  display: none;
  background-color: #161218;
  padding: 20px 30px; }
  @media only screen and (min-device-width: 668px) {
    .nav--tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; } }
  .nav--tablet .nav__logo {
    font-size: 20px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold; }
    .nav--tablet .nav__logo span {
      font-weight: initial; }
  .nav--tablet .nav__links-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .nav--tablet .nav__links-wrapper .nav__nav-link {
      margin: 0 10px;
      font-size: 14px;
      color: white;
      font-family: "Open Sans";
      text-decoration: none; }
      .nav--tablet .nav__links-wrapper .nav__nav-link:first-child {
        margin-left: 0; }
      .nav--tablet .nav__links-wrapper .nav__nav-link:last-child {
        margin-right: 0; }
  @media only screen and (min-device-width: 960px) {
    .nav--tablet {
      display: none; } }

.nav--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .nav--desktop {
      display: block; } }
  .nav--desktop .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
  .nav--desktop .nav__links-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .nav--desktop .nav__links-wrapper .nav__nav-link {
      margin: 0 10px; }
      .nav--desktop .nav__links-wrapper .nav__nav-link:first-child {
        margin-left: 0; }
      .nav--desktop .nav__links-wrapper .nav__nav-link:last-child {
        margin-right: 0; }

.hero--phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #1e1b2d; }
  @media only screen and (min-device-width: 668px) {
    .hero--phone {
      display: none; } }
  .hero--phone .hero__title {
    font-size: 36px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    margin-top: 20px; }
  .hero--phone .hero__subtitle {
    font-size: 24px;
    color: white;
    font-family: "Open Sans";
    text-align: center;
    margin: 20px 0; }
  .hero--phone .hero__image {
    width: 80%; }
  .hero--phone .hero__button {
    width: 145px;
    height: 54px;
    border-radius: 4px;
    background-color: #e95b57;
    font-size: 18px;
    color: white;
    font-family: "Open Sans";
    border: none;
    margin: 20px 0; }

.hero--tablet-and-desktop {
  display: none;
  background-color: #1e1b2d; }
  @media only screen and (min-device-width: 668px) {
    .hero--tablet-and-desktop {
      display: block; } }
  .hero--tablet-and-desktop .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0; }
  .hero--tablet-and-desktop .hero__col {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start; }
    .hero--tablet-and-desktop .hero__col:last-child {
      align-items: flex-end; }
    .hero--tablet-and-desktop .hero__col .hero__title {
      font-size: 36px;
      color: white;
      font-family: "Open Sans";
      font-weight: bold; }
    .hero--tablet-and-desktop .hero__col .hero__subtitle {
      font-size: 24px;
      color: white;
      font-family: "Open Sans";
      margin: 20px 0; }
    .hero--tablet-and-desktop .hero__col .hero__button {
      width: 145px;
      height: 54px;
      border: none;
      border-radius: 4px;
      background-color: #e95b57;
      font-size: 18px;
      color: white;
      font-family: "Open Sans"; }
    .hero--tablet-and-desktop .hero__col .hero__image {
      width: 100%; }

.services--phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #475985; }
  @media only screen and (min-device-width: 668px) {
    .services--phone {
      display: none; } }
  .services--phone .services__title {
    margin-top: 20px; }
  .services--phone .services__subtitle {
    margin: 10px 0; }

.services--tablet {
  display: none;
  background-color: #475985;
  padding: 50px 30px; }
  @media only screen and (min-device-width: 668px) {
    .services--tablet {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; } }
  @media only screen and (min-device-width: 960px) {
    .services--tablet {
      display: none; } }
  .services--tablet hr {
    width: 30%; }
  .services--tablet .services__subtitle {
    margin: 10px 0; }
  .services--tablet .services__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px; }
    .services--tablet .services__wrapper .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: flex-end;
      width: 100%; }

.services--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .services--desktop {
      display: block; } }
  .services--desktop .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .services--desktop hr {
    width: 30%; }
  .services--desktop .services__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }

.portfolio--phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .portfolio--phone hr {
    width: 30%; }
  .portfolio--phone .projects__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  @media only screen and (min-device-width: 668px) {
    .portfolio--phone {
      display: none; } }
  .portfolio--phone .portfolio__title,
  .portfolio--phone .portfolio__subtitle {
    color: #323232; }
  .portfolio--phone .portfolio__title {
    margin-top: 20px; }
  .portfolio--phone .portfolio__subtitle {
    margin: 10px 0; }
  .portfolio--phone .portfolio__selectors-wrapper {
    margin-top: 50px;
    color: lightgray; }
    .portfolio--phone .portfolio__selectors-wrapper a {
      font-size: 18px;
      font-family: "Open Sans";
      text-align: center;
      text-decoration: none;
      color: lightgray; }
      .portfolio--phone .portfolio__selectors-wrapper a.active {
        color: #323232; }
  .portfolio--phone span:last-of-type {
    font-size: 18px;
    color: #323232;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center; }
  .portfolio--phone .portfolio__link {
    font-size: 50px;
    color: #323232; }

.portfolio--tablet {
  display: none; }
  @media only screen and (min-device-width: 668px) {
    .portfolio--tablet {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center; } }
  @media only screen and (min-device-width: 960px) {
    .portfolio--tablet {
      display: none; } }
  .portfolio--tablet hr {
    width: 30%; }
  .portfolio--tablet .projects__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .portfolio--tablet .projects__wrapper .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }

.portfolio--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .portfolio--desktop {
      display: block; } }
  .portfolio--desktop .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .portfolio--desktop hr {
    width: 30%; }
  .portfolio--desktop .projects__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .portfolio--desktop .projects__wrapper .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }

.testimonials--mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0; }
  .testimonials--mobile hr {
    width: 30%; }
  @media only screen and (min-device-width: 960px) {
    .testimonials--mobile {
      display: none; } }
  .testimonials--mobile .testimonials__title,
  .testimonials--mobile .testimonials__subtitle {
    color: #323232; }
  .testimonials--mobile .testimonials__subtitle {
    margin: 10px 0; }
  .testimonials--mobile .selector {
    background: none;
    border: none; }
    .testimonials--mobile .selector i {
      font-size: 20px;
      margin-top: 10px;
      color: #7b7b7b; }
      .testimonials--mobile .selector i.active {
        color: #313131; }

.testimonials--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .testimonials--desktop {
      display: block; } }
  .testimonials--desktop .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .testimonials--desktop hr {
    width: 30%; }

.map {
  padding: 0; }

.contact--mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #4d5186;
  padding: 50px 20px; }
  .contact--mobile .contact__subtitle {
    margin: 10px 0; }
  .contact--mobile .contact__separator {
    margin-bottom: 30px; }
  .contact--mobile .contact__contact-details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .contact--mobile .contact__contact-details i {
      color: white; }
    .contact--mobile .contact__contact-details span {
      font-size: 18px;
      color: white;
      font-family: "Open Sans"; }
      .contact--mobile .contact__contact-details span:first-child {
        font-weight: bold;
        margin-bottom: 10px; }
      .contact--mobile .contact__contact-details span:nth-child(3) {
        margin-top: 5px;
        margin-bottom: 30px; }
      .contact--mobile .contact__contact-details span:nth-child(5), .contact--mobile .contact__contact-details span:nth-child(7), .contact--mobile .contact__contact-details span:nth-child(9) {
        margin-top: 5px;
        margin-bottom: 20px; }
  .contact--mobile .contact__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
    .contact--mobile .contact__form input,
    .contact--mobile .contact__form textarea {
      border-radius: 4px;
      background-color: #ededed;
      font-size: 16px;
      color: #747474;
      font-family: "Open Sans";
      padding: 10px;
      width: 100%;
      margin: 10px 0; }
    .contact--mobile .contact__form input {
      height: 40px; }
      .contact--mobile .contact__form input:last-child {
        width: 156px;
        height: 57px;
        border-radius: 4px;
        background-color: #e95b57;
        font-size: 18px;
        color: white;
        font-family: "Open Sans"; }
  .contact--mobile .inputs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; }
    .contact--mobile .inputs-wrapper input {
      width: 45%; }
  @media only screen and (min-device-width: 960px) {
    .contact--mobile {
      display: none; } }

.contact--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .contact--desktop {
      display: block; } }
  .contact--desktop hr {
    width: 30%; }
  .contact--desktop .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
  .contact--desktop .contact__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%; }
  .contact--desktop .contact__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start; }
    .contact--desktop .contact__form input,
    .contact--desktop .contact__form textarea {
      background-color: lightgray; }
    .contact--desktop .contact__form textarea {
      width: 100%;
      margin: 10px 0; }
  .contact--desktop .contact__contact-details {
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start; }

.social-media-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .social-media-icons .icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%; }
    .social-media-icons .icon i {
      color: black; }
    .social-media-icons .icon:nth-child(2) {
      margin: 0 10px; }

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #1e1b2d;
  padding: 30px 0; }
  .footer .footer__copyright {
    font-size: 14px;
    color: #76777f;
    font-family: "Open Sans"; }
  .footer .footer__logo {
    font-size: 32px;
    color: #76777f;
    font-family: "Open Sans"; }
    .footer .footer__logo strong {
      font-weight: bold; }
