html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
label,
legend,
p,
blockquote,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

abbr,
acronym {
  border: 0; }

* {
  box-sizing: border-box; }

section {
  width: 100vw;
  padding: 10px;
  border: 1px solid black; }

.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.service {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .service .service__description {
    text-align: center; }

.nav--phone {
  display: block; }
  @media only screen and (min-device-width: 668px) {
    .nav--phone {
      display: none; } }
  .nav--phone .nav__nav-items {
    display: none;
    width: 100%; }
  .nav--phone .nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.nav--tablet {
  display: none; }
  @media only screen and (min-device-width: 668px) {
    .nav--tablet {
      display: block; } }
  @media only screen and (min-device-width: 960px) {
    .nav--tablet {
      display: none; } }

.nav--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .nav--desktop {
      display: block; } }

.hero--phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-device-width: 668px) {
    .hero--phone {
      display: none; } }

.hero--tablet-and-desktop {
  display: none; }
  @media only screen and (min-device-width: 668px) {
    .hero--tablet-and-desktop {
      display: block; } }

.services--phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .services--phone hr {
    width: 30%; }
  @media only screen and (min-device-width: 668px) {
    .services--phone {
      display: none; } }

.services--tablet {
  display: none; }
  @media only screen and (min-device-width: 668px) {
    .services--tablet {
      display: block; } }
  @media only screen and (min-device-width: 960px) {
    .services--tablet {
      display: none; } }

.services--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .services--desktop {
      display: block; } }

.portfolio--phone {
  display: block; }
  @media only screen and (min-device-width: 668px) {
    .portfolio--phone {
      display: none; } }

.portfolio--tablet {
  display: none; }
  @media only screen and (min-device-width: 668px) {
    .portfolio--tablet {
      display: block; } }
  @media only screen and (min-device-width: 960px) {
    .portfolio--tablet {
      display: none; } }

.portfolio--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .portfolio--desktop {
      display: block; } }

.testimonials--mobile {
  display: block; }
  @media only screen and (min-device-width: 960px) {
    .testimonials--mobile {
      display: none; } }

.testimonials--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .testimonials--desktop {
      display: block; } }

.contact--mobile {
  display: block; }
  @media only screen and (min-device-width: 960px) {
    .contact--mobile {
      display: none; } }

.contact--desktop {
  display: none; }
  @media only screen and (min-device-width: 960px) {
    .contact--desktop {
      display: block; } }
