.container {
  width: 100vw;

  @media only screen and (min-device-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }
}

section {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.section-wrapper {
  width: 100%;
}
