.container {
  width: 100vw;

  @media only screen and (min-device-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }
}

section {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.section-wrapper {
  width: 100%;
}

.section-title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  text-align: center;
}
