.container {
  width: 100%;

  @media only screen and (min-device-width: 668px) {
    padding: 0 20px;
  }

  @media only screen and (min-device-width: 960px) {
    padding: 0;
    width: 960px;
    margin: 0 auto;
  }
}

section {
  width: 100%;
  padding: 10px;
}

.section-wrapper {
  width: 100%;
}

.section-title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  text-align: center;
}

@font-face {
  font-family: "Open Sans";
  font-weight: initial;
  font-style: initial;
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: initial;
  src: url(./fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-weight: initial;
  font-style: italic;
  src: url(./fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: "Open Sans Bold";
  font-weight: bold;
  font-style: italic;
  src: url(./fonts/OpenSans-BoldItalic.ttf);
}
